/*.note {
  background-color: yellow;
  height: 100%;
  
  display: flex;
  padding: 5px;
  flex-flow: column wrap;
  align-items: stretch;
}

.note-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 10px;
}


body {
  background-color: turquoise;
}
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.react-stickies-wrapper::-moz-selection {
  text-shadow: none;
}

.react-stickies-wrapper::selection {
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


{
  height: 100%;
  width: 100%;
  position: relative;
}

/* Note styles */
.note-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-family: Englebert, Arial;
  color: #4b453c;
  background: #F7E999;
  line-height: 34px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
}
.note-wrap:before {
  display: block;
  content: "";
  width: 130px;
  height: 28px;
  border-radius: 6px/18px 0;
  position: absolute;
}
.note-wrap.tape:before {
  background: rgba(227, 200, 114, 0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  top: -13px;
  left: 50px;
}
.note-wrap .title {
  color: #747474;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
}
.note-wrap .title:hover {
  color: #000;
}

.note {
  background: #F7E999;
}

.note-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.note-close:hover {
  opacity: 1;
  cursor: pointer;
}
.note-close:before, .note-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.note-close:before {
  transform: rotate(45deg);
}

.note-close:after {
  transform: rotate(-45deg);
}

.add {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  z-index: 2;
}
.add:hover {
  opacity: 1;
  cursor: pointer;
}
.add:before, .add:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.add:before {
  transform: rotate(0deg);
}
.add:after {
  transform: rotate(-90deg);
}

.note-header {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  height: 34px;
}

.note-body {
  padding: 10px;
  font-size: 12px;
  color: #747474;
  line-height: 20px;
}

.note-footer {
  color: #747474;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  bottom: -6px;
  text-align: right;
  width: 100%;
  left: 0;
  padding-right: 10px;
  font-size: 9px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
