.postit {
  background-color: yellow;
  height: 100%;
  
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.ui1 {
  background-color: red;
  flex-basis: 75%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 80%;
  height: auto;
}

.ui2 {
  background-color: green;
  flex-grow: 1;
  
  display: flex;
  justify-content: center;
  align-items: center
}

.ui3 {
  background-color: blue;
  flex-grow: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  flex-grow: 1;
  
  display: flex;
  flex-flow: column;
}

body {
  background-color: turquoise;
}